# Firebase Admin SDK
# Dapatkan dari Firebase Console → Project Settings → Service Accounts → Generate new private key

FIREBASE_PROJECT_ID=retro-api-project
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@retro-api-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nXXXXX\n-----END PRIVATE KEY-----\n"
